# Compiled Files #
/bin/
*.class

# Package and Archive Files #
*.jar
*.war
*.ear
*.zip
*.7z

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse Files #
.project
.classpath
